@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fffff2;
  color: #24252a;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
a {
  text-decoration: none;
}
.navbar {
  list-style: none;
}
.navbar li{
  display: inline-block;
  padding: 0px 20px;
}
.navbar li a{
  transition: all 0.3s ease 0s;
}
.navbar li a:hover{
  transition: all 0.3s ease 0s;
  color: #9723c9
}

main {
  padding: 30px 10%;
}

.content {
  padding-top: 15%;
  padding-bottom: 30%;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row {
  display: flex;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  text-align: center;
  margin-bottom: 10%;
}
.threeRowColumn {
  float: left;
  width: 33%;
  text-align: center;
}
.card-header{
  font-weight: bold;
  font-size: 1.3em;
}
.card-paragraph {
  display: inline-block;
  text-align: left;
  width: 70%;
}
.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.menu-item {
  padding: 20px;
  border-radius: 8px;
}

.menu-item h3 {
  font-size: 20px;
  margin-top: 0;
}

.menu-item p.price {
  font-weight: bold;
  margin-bottom: 0;
}
#calendar {
  max-width: 800px;
  margin: 0 auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #fdfd96;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 1.3em;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15%;
  min-width: 7em;
}

.button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
}

.portrait {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
@media screen and (max-width: 1100px) {
  .column {
    width: 100%;
  }
  .threeRowColumn {
    width: 100%;
    margin-bottom: 10%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
    header {
    flex-direction: column; /* Change the flex direction to stack elements vertically */
    align-items: center; /* Center align the items vertically */
  }

  nav {
    margin-top: 20px; /* Add some spacing between the logo and the navigation links */
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the navigation links horizontally */
  }

  .navbar li {
    margin: 10px 20px; /* Add some spacing between the navigation links */
  }
  .content {
      flex-direction: column; /* Stack the content in a column */
      align-items: center; /* Center the items horizontally */
  }
  
  /* Adjust the image size on smaller screens */
  img {
      margin-top: 10%;
      min-width: unset; /* Remove the minimum width */
      max-width: 70%; /* Set a maximum width to control image size */
      margin-right: 0; /* Remove the right margin to center the image */
      margin-bottom: 20px; /* Add some space between the text and image */
  }
}